<% extend('../layouts/dashboard-layout') %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mx-auto">
        <div class="card">
          <img src="/images/pic.jpg" class="card-img-top rounded-circle" style="width: 60%;">
          <div class="card-body">
            <h5 class="card-title">
              <%- title + name + " 歡迎回來！" %>
            </h5>
            <p class="card-text">目前發表文章總數：<%- totalResult %>
            </p>
            <a href="#" class="btn btn-primary">修改個人資料</a>
          </div>
        </div>
      </div>
    </div>
  </div>