<% extend('../layouts/dashboard-auth-layout') %>
  <style>
    .login {
      width: 100%;
      height: 100vh;
      background-color: #f5f5f5;
    }

    .form-signin {
      text-align: center;
    }
  </style>

  <div class="login">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-3">
          <main class="form-signin">
            <% if (hasErrors) { %>
              <% for(var prop in messages ){ %>
                <div class="alert alert-warning">
                  <%= messages[prop] %>
                </div>
                <% } %>
                  <% } %>
                    <form method="POST" action="/auth/signin">
                      <img class="mb-4 rounded-circle" src="https://picsum.photos/80/80/?random=1" alt="" width="80"
                        height="80">
                      <h1 class="h3 mb-3 fw-normal">後台管理系統</h1>
                      <!-- <label for="exampleInputEmail1" class="visually-hidden">Email</label> -->
                      <input type="email" id="exampleInputEmail1" class="form-control" name="email"
                        aria-describedby="emailHelp" placeholder="請輸入Email" required autofocus>
                      <!-- <label for="inputPassword" class="visually-hidden">密碼</label> -->
                      <input type="password" id="password" class="form-control" name="password" placeholder="請輸入密碼"
                        required>
                      <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me"> 記住我的帳號
                        </label>
                      </div>
                      <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">登入</button>
                      <div class="row row.col-6 mx-auto">
                        <p class="text-muted">還沒有帳號嗎？</p>
                        <a class="" href="/auth/signup">註冊帳號</a>
                      </div>
                      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
                    </form>
          </main>
        </div>
      </div>
    </div>
  </div>