<% extend('./layouts/layout')%>

  <div class="row my-4 justify-content-center">

    <div class="col-md-3">

      <div class="card mb-3">
        <img src="/images/pic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">廖晋緯 Edward Liao</h5>
          <p class="card-text">Node.js 後端工程師</p>
          <a href="#" class="btn btn-primary">關於版主</a>
        </div>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747578.110387527!2d117.84026482969499!3d23.4696880281021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346ed5cb2b61c3a5%3A0xcf20ddb042be7fa0!2z6Ie654Gj!5e0!3m2!1szh-TW!2stw!4v1615867011798!5m2!1szh-TW!2stw"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>

    <div class="col-md-9">

      <!-- 無內容則顯示以下 -->
      <%if(articles.length==0){%>
        <h2>此分類尚無文章</h2>
        <a href="/">回到首頁</a>
        <% } %>

          <% for(let prop in articles) { %>
            <div class="card mb-3">
              <div class="card-body">
                <a href="/post/<%= articles[prop].id %>">
                  <h2 class="text-primary">
                    <%= articles[prop].title %>
                  </h2>
                </a>
                <div class="d-flex flex-row text-secondary small">
                  <div class="p-2"><span class="fa fa-clock-o"></span>
                    <%= moment(articles[prop].update_time * 1000).format('YYYY/MM/DD')%>
                  </div>
                  <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i>
                    <a href="/archives/<%= categories[articles[prop].category].path %>" class="text-info">
                      <%= categories[articles[prop].category].name %>
                    </a>
                  </div>
                </div>
                <div>
                  <%= striptags(articles[prop].content).slice(0,150) %>...
                </div>
              </div>
            </div>
            <% } %>


    </div>
  </div>

  <!-- 分頁按鈕 -->
  <!-- 如果沒有內容就不顯示 -->
  <%if(!articles.length==0){%>
    <%- include('partials/pagination') %>
      <% } %>